*{
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, serif;
    font-size: 16px;
}
.fullwrap {
	background-color: #d1d1d1;
	width: 800px;
	margin: 40px auto;
}
.header_pic {
	width: 710px;
	height: 150px;
}
.wrap{
	width: 710px;
	background-color: #fff;
	margin: -28px 0 45px 45px;
}
.title {
	text-align: center;
    margin: 25px auto;
    display: block;
}
p {
	display: block;
	text-align: left;
	line-height: 20px;
	padding:20px;
}
.pic {
	height: 250px;
}
button {
	margin-top: 30px;
	width: 300px;
	line-height: 40px;
	font-size: 22px;
	border-radius: 10px;
	background-color: #cf5b4e;
	color: #fff;
}
.description {
	text-align: center;
	display: block;
}
.main, .sidebar {
	width: 250px;
	padding: 10px;
	float: left;
	position: relative;
}
.sidebar {
	padding-left: 100px;
}
.gyneco, .cardio, .neuro {
     width: 190px;
     padding: 20px;
     height: 450px;
     float: left;
     position: relative;
}
.enroll-bottom {
	width: 200px;
}
.assets {
	width: 200px;
}
.clear {
	clear: both;
}
.final_button {
	width: 690px;
	margin: 10px;
}
.under-footer p, .last-href{
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin: auto;
    line-height: 20px;
    background-color: #d1d1d1;
}